/*
  
Style sheet Dragon

*/

* {
    box-sizing: border-box;
}

body {
	background-color: #009;
}

#output {
	max-width: none;
	padding: 0px;
	margin: 0px;
	background-color: #1ff;
}

.header {
    background-color: #f47742;
    padding: 20px;
}

.header a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
	text-align: left;
	font-size: 40px;
	color: blue;
}

/* Change color on hover */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Left and right column */
.column-left {
    float: left;
    padding: 10px;
    width: 25%;
	background-color: #bbb;
}

.column-left a {
	display: block;
	padding: .5em 2em .5em 2em;
}

/* Middle column */
.column-right {
    float: left;
    padding: 10px;
    width: 75%;
	background-color: #9ee;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #c9ffdd;
    text-align: center;
    padding: 10px;
	height: 2em;
}

.debugWindow {
	color:yellow;
	background-color: #000;
    text-align: left;
    padding: 10px;
	max-height: 6em;
	overflow-y: scroll;
}

#lineinput {
	display:none;
}


/*
@media screen and (max-width: 600px) {
    .column.left, .column.right {
        width: 100%;
    }
}

*/


/*

#window0 {
	width: 20px;
	height: 20px;
}

.logo {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 200px;
	height: 100px;
	text-align: left;
	font-size: 40px;
	color: yellow;
}

.folders {
	position: fixed;
	top: 120px;
	left: 30px;
	width: 200px;
	text-align:left;
	font-size: 20px;
}

.mailContent {
	position: fixed;
	top: 120px;
	left: 200px;
	text-align: left;
	font-size: 15px;
	color: white;
	width: 800px;
	height: 450px;
	background-color: #ccc;
}

.dragonWindow {
	position: fixed;
	top: 130px;
	left: 210px;
	width: 780px;
	height: 440px;
	background-color: #aaa;
}

.debugWindow {
	position: fixed;
	top: 600px;
	left: 20px;
	width: 600px;
	height: 150px;
	text-align: left;
	font-size: 15px;
	color: black;
	background-color: white;
	overflow-y: scroll;
}

a {
	color:#0a0;
}

.command {
	color:green;
}


*/