/*
  
Style sheet Dragon

*/

* {
    box-sizing: border-box;
}

body {
	background-color: black;
}

#output {
	max-width: none;
	padding: 0px;
	margin: 0px;
	background-color: black;
}

#powerTip {
	background-color: fuchsia;
	color: black;
}

.header {
	position:fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
    background-color: #960f33;
    padding: 1.3em;
	border-bottom-style: double;
	border-width: medium;
	border-color: #ededed;
}

.logo {
	text-align: left;
	font-size: 3em;
	color: white;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

/* Left and right column */
.column-left {
	position: fixed;
	top: 5.7em;
	left: 0;
    padding: 10px;
    width: 25%;
	background-color: black;
}

.column-left a {
	display: block;
	padding: .2em 2em .2em 2em;
	color:#ff5;
}

.navSelect {
	padding: 1em 0em;
}

.navSelect a {
	font-weight: bold;
}

.column-right {
    position: relative;
	top: 5em;
	left: 25%;
    padding: 10px;
    width: 75%;
	border-left-style: solid;
	border-width: thin;
	border-color: #ededed;
	color:white;
}

.back-blue {
	background-color:#090969;
}

.column-right a:link, .column-right a:visited {
	color: #ff5;
}

.column-right a:hover, .column-right a:active {
	color: tomato;
}

.outlinkImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	width: 75%;
	height: auto;
}

.outLink {
	display: block;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.stricken {
	text-decoration: line-through;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.hrsub { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 1px;
	border-color: #ddd;
}

.hrminisub {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 1px;
	border-color: #ddd;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

.read a:link, .read a:visited {
	font-weight: normal;
}

.unread a:link, .unread a:visited {
	font-weight: bold;
}

.pickOption {
	display: block;
	text-align: center;
	width: 75%;
	margin: 1em auto 1em auto;
}

.pickOption a {
	margin-top: 0.2em;
	display:block;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 12px;
	text-decoration: none;
	padding: 0.5em;
}

.pickOption a:link, .pickOption a:visited {
	color: black;
	background: #eee;
}

.pickOption a:hover, .pickOption a:active {
	color: #eee;
	background: #555;
}

/* iframe for playing original game */
.dragonWindow {
	width: 95%;
	height: 95%;
	background-color: #fff;
	display: block;
	margin: auto;
	min-height: 25em;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
	z-index: -1;
	position: relative;
	top: 4em;
	width:100%;
    background-color: black;
	color: #999;
	height: 4em;
    padding: 10px;
}

.powered {
	z-index: 1;
	display: inline;
	float: right;
}

.powered a {
	color: #8f97d8;
}

.debugWindow {
	display:none;
	color:yellow;
	background-color: #000;
    text-align: left;
    padding: 10px;
	max-height: 6em;
	overflow-y: scroll;
}

#lineinput {
	display:none;
}

.balloons {
	padding-top:1em ;
}

.bigred {
	position:relative;
	top: 1em;
	font-size:1.5em;
	color:red;
	text-align: center;
}

.finePrint {
	font-size: 0.5em;
}


@media screen and (max-width: 600px) {
    .column-left, .column-right {
        width: 100%;
    }
	
	.column-right {
		border-left-style: none;
	}
	
	.column-left {
		text-align: center;
		border-bottom-style: double;
		border-width: medium;
		border-color: #ededed;
	}
}

