/*
  
Style sheet Dragon

*/

* {
    box-sizing: border-box;
}

body {
	background-color: black;
}

#output {
	max-width: none;
	padding: 0px;
	margin: 0px;
	background-color: #1ff;
}

.header {
    background-color: #960f33;
    padding: 20px;
	border-bottom-style: double;
	border-width: medium;
	border-color: #ededed;
}

.logo {
	text-align: left;
	font-size: 3em;
	color: white;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

/* Left and right column */
.column-left {
    float: left;
    padding: 10px;
    width: 25%;
	background-color: black;
}

.column-left a {
	display: block;
	padding: .2em 2em .2em 2em;
}

.navSelect {
	padding: 1em 0em;
}

.navSelect a {
	font-weight: bold;
}

.column-right {
    float: left;
    padding: 10px;
    width: 75%;
	min-height: 25em;
	background-color: black;
	border-left-style: solid;
	border-width: thin;
	border-color: #ededed;
	color:white;
}

.column-right a:link, a:visited {
	color: #ff5;
	font-weight: bold;
}

.column-right a:hover, a:active {
	color: tomato;
	font-weight: bold;
}

.stricken {
	text-decoration: line-through;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.hrsub { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 1px;
	border-color: #ddd;
}

.hrminisub {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 1px;
	border-color: black;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

.read a:link,a:visited {
	font-weight: normal;
}

.unread a:link,a:visited {
	font-weight: bold;
}

.pickOption {
	color: red;
}

/* iframe for playing original game */
.dragonWindow {
	width: 95%;
	height: 95%;
	background-color: #fff;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: black;
	color: #999;
	height: 3em;
    padding: 10px;
}

.powered {
	display: inline;
	float: right;
}

.powered a {
	color: #8f97d8;
}

.debugWindow {
	display:none;
	color:yellow;
	background-color: #000;
    text-align: left;
    padding: 10px;
	max-height: 6em;
	overflow-y: scroll;
}

#lineinput {
	display:none;
}

.bigred {
	position:relative;
	top: 1em;
	font-size:2em;
	color:red;
	text-align: center;
}


@media screen and (max-width: 600px) {
    .column-left, .column-right {
        width: 100%;
    }
}

